#previewHeader{
  background-color: lightgray;
}

.previewSec{
  background-color: white;
  min-height: 50vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}
